

/*
 * ----------------------------------------------------------------------------
 * LOOP DEFAULTS
 * ----------------------------------------------------------------------------
 */

.loop{

    overflow: hidden;

    // @include clearfix; - Parte as grids flexbox
    @include thumb-placeholder(75%);

    clear: both;
    margin-bottom: $box-spacing;

    .entry-title{
        font-family: $f-sans;
        font-size: $f-size-l;
    }

    .entry{
        margin-bottom: $element-spacing;
    }

    .entry-meta{
        font-size: $f-size-s;
    }

    p{
        margin: 0;
    }

}




/*
 * ----------------------------------------------------------------------------
 * LOOPLIST
 * Artigos em modo listagem, com ou sem colunas
 * ----------------------------------------------------------------------------
 */

.loop--list{

    margin-bottom: $box-spacing;

    .entry{
        @include span(full);
    }

    .Media{
        align-items: center;
    }
    .Media-figure{
        flex-basis: span(4);
        margin-right: gutter();
    }
    .Media-content{
        flex-basis: span(8);
        margin-left: gutter();
    }

    // SEM SLIDER
    // &:not([data-slider]){}

}




/**
 * ----------------------------------------------------------------------------
 * CARDS
 * ----------------------------------------------------------------------------
 */

// .loop--cards{

//     clear          : both;
//     display        : flex;
//     flex-direction : row;
//     flex-wrap      : wrap;
//     align-items: stretch;


//     .entry{
//         flex-basis : span(4);
//         margin     : gutter();
//         // background : gc(muted);
//         // padding    : gutter();
//         // text-align : center;
//         display    : flex;
//     }
//     .Media{
//         flex-direction: column;
//         // flex: 1;
//         @include border(black);
//     }
//     .Media-figure{
//         // margin-bottom: 1em;
//         @include border(red);
//         // flex-shrink: 0;
//         // width: 100%;
//         // flex: 1 0 75%;
//         a{
//             display: block;
//             @include border(yellow);
//             position: relative;
//             padding-top: 75%
//         }
//         img{
//             position: absolute;
//             display: none;
//         }
//     }
//     .Media-content{
//         padding-top: 1em;
//         @include border(green,2px);
//         display: flex;
//         flex-flow: row wrap;
//         flex: 1 0;
//         // flex: 0 0 auto;
//     }
//     .post-title{
//         width: 100%;
//     }
//     .price{
//     }
//     .add_to_cart_button{
//         @include border(red);
//         width: 100%;
//     }
//     // .Media{
//     //     flex-direction: column;
//     //     align-items: stretch;
//     // }
//     // .Media-figure{
//     //     margin-bottom: 1em;
//     // }
//     // .Media-content{
//     //     display: flex;
//     //     flex-flow: row wrap;
//     //     justify-content: space-between;
//     //     align-items: center;
//     //     flex: 1 1 auto;
//     //     @include border(red);
//     //     // flex: 1 1 auto;
//     // }
//     // .entry-title{
//     //     flex-basis: 100%;
//     // }
// }





.loop--cards{

    .entry{
        position: relative;
        margin-bottom: $box-spacing;
        text-align: center;
    }

    img{
        height:auto;
        display:block;
        margin: 0 0 1em;
    }

    .thumb-placeholder{
        margin: 0 0 1em;
    }

    .Media,
    .Media-figure,
    .Media-details{
        display: block;
    }

    .Media-content{
        padding: 0 gutter();
    }


    // ------------------------------------------------------------------------
    // MODO GRELHA - Sem slider, layout é controlado por CSS
    @include phone-large{
        .entry{
            @include gallery(6);
        }
    }
    @include tablet{
        .entry{
            @include gallery(4);
        }
    }

    @include desktop{
        .entry{
            @include gallery(3);
        }
    }

    // ------------------------------------------------------------------------
    // MODO SLIDER


    // ------------------------------------------------------------------------
    // APLICADO À SIDEBAR
    .sidebar &{
        .entry{
            float: none;
            width: 100%;
        }
    }

}






/*
 * ----------------------------------------------------------------------------
 * MINIBANNERS
 * Lista de artigos apenas com imagem e título por cima da image
 * ----------------------------------------------------------------------------
 */

.loop--minibanners{

    @include thumb_fallback(75%);
    margin-bottom: $box-spacing;

    .entry{

        position: relative;
        overflow: hidden;
        transition: all 0.25s;

        &:hover{
            .Media-figure{
                opacity: 0.3;
            }
            .entry-title{
                opacity: 0;
                transform: translateY(100%);
                transition-delay: 0s;
            }
            .entry-details{
                opacity: 1;
                transform: translateY(0%);
                transition-delay: 0.3s;
            }
        }
    }

    .Media,
    .Media-figure,
    .Media-content{
        display: block;
    }

    .Media-figure,
    .entry-title{
        transition: 0.3s all 0.25s ease;
    }
    .excerpt{
        transition: all 0.35s ease ;
        font-size: $f-size-s;
        p{
            margin: 0;
        }
    }

    .Media-content{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
    }

    .entry-title{
        margin: 0;
        font-size: $f-size-l;
        background: hsla(0, 0%, 16%, 0.55);
        padding: 0.75em;
    }

    .entry-details{
        opacity: 0;
        transform: translateY(100%);
        position: absolute;
        bottom: 0em;
        left: 0;
        padding: $box-spacing;
    }

    .thumb-placeholder{
        padding: 0;
    }

    a{
        h4{
            color: white;
        }
    }


    /**
     * Quando sem slider activo
     */

    &:not(.owl-carousel){

        @include tablet{
            .entry{
                @include gallery(6);
            }
        }

        @include desktop{
            .entry{
                @include gallery(4);
            }
        }

    }

    &.loop--categories{
        justify-content: flex-start;
        .item{
            flex: 1 0 100%;
            flex-flow: row wrap;
        }
        @include phone-large{
            .item{
                flex-basis: 50%;
                max-width: 50%;
            }
        }
        @include tablet{
            .item{
                flex-basis: 33.333%;
                max-width: 33%;
            }
        }
    }

}
