// ----------------------------------------------------------------------------
// MEDIA
// Componente usado para mostrar imagem mais conteúdo
// ----------------------------------------------------------------------------

.Media{
    display: flex;
}

.Media-figure{
    // flex: 1 1 20%;
    // padding-right: 2%;
    img{
        width: 100%;
        height: auto !important;
    }
}

.Media-figure,
.Media-content{
    flex: 1 1;
}

// .Media-content{
//     flex: 1 1 80%;
// }

.Media--vertical{

  display: block;

  > [class*="Media"]:first-child{
    display: block;
  }

  .Media-content,
  .Media-figure{
    display: block;
  }

}
