{% extends "base.twig" %}

{% block bannerinner %}
    {% if banners_top %}
        {% for banner in banners_top %}
            {% include ['partials/banner.twig'] %}
        {% endfor %}
    {% else %}
        {% do action('mwh_banner') %}
    {% endif %}
{% endblock %}


{% block content %}

    {{ home_widgets }}

    <div class="loop loop--cards loop--posts">
        {% for post in posts %}
            {% do action('tha_entry_before') %}
            {% include ['partials/tease-'~post.post_type~'.twig', 'tease-post.twig'] %}
            {% do action('tha_entry_after') %}
        {% endfor %}
    </div>

{% endblock %}