

/**
 * ----------------------------------------------------------------------------
 * SEARCH RESULTS
 * ----------------------------------------------------------------------------
 */

.search-results{
    .entry{
        @include span(4);
    }
    .Media{
        display: block;
    }
    .Media-figure{
        width: 6em;
        float: right;
    }
}