

/*
 * ----------------------------------------------------------------------------
 * LOOP--POSTS
 * ----------------------------------------------------------------------------
 */

[am-loop*="posts"]{
    .Media-figure{
        @include span(4);
    }
    .Media-details{
        @include span(8);
    }
}




/**
 * ----------------------------------------------------------------------------
 * SEARCH RESULTS
 * ----------------------------------------------------------------------------
 */

 [am-loop*="search"]{{
    @include border(red);
    .entry{
        @include span(4);
    }
    .Media{
        display: block;
    }
    .Media-figure{
        width: 6em;
        float: right;
    }
}