
/**
 * inputs de quantidade
 */
input.qty{
    width: 4em;
    text-align: center;
}


/**
 * DEMO STORE NOTIFICATION
 */
.demo_store{
    text-align: center;
}


/**
 * ----------------------------------------------------------------------------
 * NOTIFICAÇÕES DE LOJA
 * Mensagens de notificação para o utilizador
 * ----------------------------------------------------------------------------
 */
.woocommerce-info{
    @include span(full);
    margin-bottom: space(el);
    padding: space(el);
    background: gc(info);
    color: gc(info, text);
    a{
        color: gc(info, text);
    }
}




form.login{

    .lost_password{
        @include span(full);
    }

}