
input{
    line-height: $c-input-height;
    min-height: $c-input-height;
}

input,
textarea{

  // width: 100%;
  border: 2px solid $c-input-bg;
  border-radius: $c-input-radius;
  background: $c-input-bg;
  padding: 0 $c-input-padding;
  transition: all 0.15s ease-in 0;
  outline: none;
  font-weight: 400;
  font-family: $f-sans;
  color: $f-text-neutral;
  font-size: $f-size-l;

  &:focus{
    color: $f-text-accent;
  }
}
