/**
 * ----------------------------------------------------------------------------
 * TABLE SHOP TABLE
 * ----------------------------------------------------------------------------
 */
table.shop_table{
    thead{
        th{
            border-top: 3px solid gc(muted);
            border-bottom: 1px solid gc(muted);
            font-size: $f-size-xs;
            text-transform: uppercase;
        }
    }
}




/**
 * ----------------------------------------------------------------------------
 * SITE HEADER CART
 * Disponibiliza valores e resumo de produtos
 * ----------------------------------------------------------------------------
 */

.site-header-cart{

    background: gc(muted);
    display: inline-block;
    padding: space(element);

    .count{
        font-weight: normal;
        color: gc(text, muted);
        padding-left: space(element);
        margin-left: space(element);
        border-left: 1px solid gc(neutral);
    }

    .widget_shopping_cart{
        width: 170%;
        left: auto;
        right: 0;
        background: white;
        box-shadow: hsla(0, 0%, 13%, 0.2) 0 3px 24px;
        transform: translateY(10%);
        transition: all 0.25s;
        opacity: 0;
    }
    &:hover{
        .widget_shopping_cart{
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .product_list_widget{
        padding: space(element);
        padding-bottom: space(element);
    }

    .total,
    .buttons{
        background: gc(muted);
        font-size: $f-size-s;
        padding: space(element);
    }
}



/**
 * ----------------------------------------------------------------------------
 * WOOCOMMERCE CHECKOUT REVIEW ORDER TABLE
 * Shows the order values in checkout page
 * ----------------------------------------------------------------------------
 */
.woocommerce-checkout-review-order-table{

    // @include border(gc(muted), 2px);
    border-collapse: collapse;

    td, th{}

    tfoot{
        td, th{
            background: gc(muted, light);
        }
        td{
            font-weight: bold;
        }
        th{
            text-align: right;
        }
    }
}



/**
 * ----------------------------------------------------------------------------
 * TABLE CART
 * List Products in the Cart
 * ----------------------------------------------------------------------------
 */

 table.cart{

    .cart_item{
        td{
            border-bottom: 1px solid gc(muted);
        }
    }

}



.cart_totals{
    td, th{
        padding: space(element, small);
    }
    th{
        text-align: right;
    }
    p{
        margin: 0;
    }
    table{
        background: gc(muted);
    }
}