
.read-more{
    font-weight: 600;
    text-transform: uppercase;
    font-size: $f-size-s;
}

// TODO: Arrumar loops dentro do MDF e theme

/*
 * ----------------------------------------------------------------------------
 * LOOP DEFAULTS
 * ----------------------------------------------------------------------------
 */

.loop{

    @include clearfix;
    @include thumb-placeholder(75%);

    clear: both;
    margin-bottom: $box-spacing;

    .entry-title{
        font-family: $f-sans;
        font-size: $f-size-l;
    }

    .entry{
        margin-bottom: $element-spacing;
    }

    .entry-meta{
        font-size: $f-size-s;
        color: $f-text-muted;
    }

    p{
        margin: 0;
    }

}



/*
 * ----------------------------------------------------------------------------
 * LOOPLIST
 * Artigos em modo listagem, com ou sem colunas
 * ----------------------------------------------------------------------------
 */

.loop--list{

    margin-bottom: $box-spacing;

    .entry{
        @include span(full);
    }

    .Media{
        align-items: center;
    }
    .Media-figure{
        flex-basis: span(4);
        margin-right: gutter();
    }
    .Media-content{
        flex-basis: span(8);
        margin-left: gutter();
    }

    // SEM SLIDER
    // &:not([data-slider]){}

}



/**
 * ----------------------------------------------------------------------------
 * CARDS
 * ----------------------------------------------------------------------------
 */

.loop--cards{

    .item{
        position: relative;
        margin-bottom: $box-spacing;
    }

    img{
        height:auto;
        display:block;
        margin: 0 0 1em;
    }

    .thumb-placeholder{
        margin: 0 0 1em;
    }

    .Media,
    .Media-figure,
    .Media-details{
        display: block;
    }

    .Media-content{
        padding: 0 gutter();
    }


    // ------------------------------------------------------------------------
    // MODO GRELHA - Sem slider, layout é controlado por CSS
    @include phone-large{
        .entry{
            @include gallery(6);
        }
    }
    @include tablet{
        .entry{
            @include gallery(4);
        }
    }

    @include desktop{
        .entry{
            @include gallery(3);
        }
    }

    // ------------------------------------------------------------------------
    // MODO SLIDER


    // ------------------------------------------------------------------------
    // APLICADO À SIDEBAR
    .sidebar &{
        .entry{
            float: none;
            width: 100%;
        }
    }

}




/*
 * ----------------------------------------------------------------------------
 * MINIBANNERS
 * Lista de artigos apenas com imagem e título por cima da image
 * ----------------------------------------------------------------------------
 */

.loop--minibanners{

    @include thumb_fallback(75%);
    margin-bottom: $box-spacing;

    .entry{

        position: relative;
        overflow: hidden;
        transition: all 0.25s;

        &:hover{
            .Media-figure{
                opacity: 0.3;
            }
            .entry-title{
                opacity: 0;
                transform: translateY(100%);
                transition-delay: 0s;
            }
            .entry-details{
                opacity: 1;
                transform: translateY(0%);
                transition-delay: 0.3s;
            }
        }
    }

    .Media,
    .Media-figure,
    .Media-content{
        display: block;
    }

    .Media-figure,
    .entry-title{
        transition: 0.3s all 0.25s ease;
    }
    .excerpt{
        transition: all 0.35s ease ;
        font-size: $f-size-s;
        p{
            margin: 0;
        }
    }

    .Media-content{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
    }

    .entry-title{
        margin: 0;
        font-size: $f-size-l;
        background: hsla(0, 0%, 16%, 0.55);
        padding: 0.75em;
    }

    .entry-details{
        opacity: 0;
        transform: translateY(100%);
        position: absolute;
        bottom: 0em;
        left: 0;
        padding: $box-spacing;
    }

    .thumb-placeholder{
        padding: 0;
    }

    a{
        h4{
            color: white;
        }
    }


    /**
     * Quando sem slider activo
     */

    &:not(.owl-carousel){

        @include tablet{
            .entry{
                @include gallery(6);
            }
        }

        @include desktop{
            .entry{
                @include gallery(4);
            }
        }

    }

    // &.loop--categories{
    //     justify-content: flex-start;
    //     .item{
    //         flex: 1 0 100%;
    //         flex-flow: row wrap;
    //     }
    //     @include phone-large{
    //         .item{
    //             flex-basis: 50%;
    //             max-width: 50%;
    //         }
    //     }
    //     @include tablet{
    //         .item{
    //             flex-basis: 33.333%;
    //             max-width: 33%;
    //         }
    //     }
    // }

}





/*
 * ----------------------------------------------------------------------------
 * LOOP--POSTS
 * ----------------------------------------------------------------------------
 */

.loop--posts{
    // @include border(red);
    // .Media-figure{
    //     @include span(4);
    // }
    // .Media-details{
    //     @include span(8);
    // }
}