
.read-more{
    font-weight: 600;
    text-transform: uppercase;
    font-size: $f-size-s;
}

// TODO: Arrumar loops dentro do MDF e theme

.loop--cards{
    .entry{
        font-size: $f-size-xs;
    }
}





.form-row{

    clear: left;
    @include span(full);
    margin-bottom: space(el);

    label{
        display: block;
    }

    label.inline{
        display: inline-block;
        width: auto;
    }

    input,
    textarea,
    select{
        width: 100%;
        max-width: 100%;
    }

    input[type=checkbox],
    input[type=radio],
    .button{
        width: auto;
    }

    &.form-row-first,
    &.form-row-last{
        @include span(6);
    }
    &.form-row-last{
        clear: none;
    }

}


.relevanssi-query-term{
    background: yellow;
}