@import "../../../wip-parent-theme/src/sass/_layout.scss";

body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue;
    font-size: 1em;
    color: hsla(0, 0%, 20%, 1);
}

a{
    text-decoration: none;
    color: hsla(195, 53%, 56%, 1);
    &:hover{
        color: black;
    }
}


header,
.content-wrapper{
    width: 95%;
    margin: 0 auto;
    max-width: 1600px;
}

.main-navigation{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        display: inline-block;
    }
}

img{
    max-width: 100%;
}