

/**
 * ----------------------------------------------------------------------------
 * WOOCOMMERCE CHECKOUT REVIEW ORDER TABLE
 * TABLE.ORDER_DETAILS
 * Shows the order values in checkout page and order confirmation
 * ----------------------------------------------------------------------------
 */

table.order_details,
.woocommerce-checkout-review-order-table{

    border-collapse: collapse;

    tr{
        // Last column contais values
        td:last-child,
        th:last-child{
            width: 30%;
            text-align: center;
        }
    }

    tfoot{
        td, th{
            background: gc(muted, light);
        }
        td{
            font-weight: bold;
        }
        th{
            text-align: right;
        }
        // Last Row shows order total
        tr:last-of-type{
            td, th{
                font-size: $f-size-l;
            }
        }
    }
}




/**
 * ----------------------------------------------------------------------------
 * CART COLLATERALS
 * Cross-selling, Cart Totals and Shipping Costs
 * ----------------------------------------------------------------------------
 */

.cart-collaterals{

    display: flex;
    flex-flow: column nowrap;

    > * {
        flex: 1 1 50%;
    }

    // .cross-sells{}
    // .cart_totals {}

    .product{
        margin-bottom: space(el);
    }

    @include mq($until: tablet){
        .cart_totals {
            margin-bottom: space(box, large);
        }
        .cross-sells{
            order: 2;
        }
    }


    @include tablet{
        flex-direction: row;
        .cross-sells{
            margin-right: 5%;
        }
    }

}


.wc-proceed-to-checkout{
    padding: space(el);
    text-align: center;
}




