
/**
 * ----------------------------------------------------------------------------
 * TABLE SHOP TABLE
 * ----------------------------------------------------------------------------
 */
table.shop_table{}


/**
 * ----------------------------------------------------------------------------
 * TABLE CART
 * List Products in the Cart
 * ----------------------------------------------------------------------------
 */

table.cart{

    clear: both;


    @include mq($until: tablet){
        thead th{
            @include increase-specificity{
                padding: 0;
                text-indent: -9999px;
                font-size: 0;
                border: none;
            }
        }

        /**
         * Zona de produtos
         */

        .product-thumbnail{
            display: none;
        }

        /**
         * Zona de Acções
         */

        .actions{

            padding-top: space(element);

            label{
                display: none;
            }
            input{
                width: 100%;
            }

        }

        .coupon{
            margin-bottom: space(element);
        }

    }

    @include tablet{

        .actions{
            > .button{
                float: right;
            }
        }
        .coupon{
            float: left;
        }

    }

}


/**
 * ----------------------------------------------------------------------------
 * WOOCOMMERCE CHECKOUT REVIEW ORDER TABLE
 * Shows the order values in checkout page
 * ----------------------------------------------------------------------------
 */
.woocommerce-checkout-review-order-table{
    td, th{
        text-align: center;
    }
    tfoot{
        td{
            font-weight: bold;
        }
    }
}

/**
 * ----------------------------------------------------------------------------
 * CART COLLATERALS
 * Cross-selling, Cart Totals and Shipping Costs
 * ----------------------------------------------------------------------------
 */

.cart-collaterals{

    display: flex;
    flex-flow: column nowrap;

    > * {
        flex: 1 1 50%;
    }

    // .cross-sells{}
    // .cart_totals {}

    .product{
        margin-bottom: space(element);
    }

    @include mq($until: tablet){
        .cart_totals {
            margin-bottom: space(box, large);
        }
        .cross-sells{
            order: 2;
        }
    }


    @include tablet{
        flex-direction: row;
        .cross-sells{
            margin-right: 5%;
        }
    }

}



.wc-proceed-to-checkout{
    padding: space(element);
    text-align: center;
}