

.site-footer{
    clear: both;
    padding: $box-spacing 0;

    .sidebar{

        display: flex;

        .widget{
            // flex: 1 1;
            padding-right: 5%;
        }
        h1{
            color: white;
            font-size: $f-size-l;
        }
    }

    .legal-info{
        font-size: $f-size-xs;
    }

}

