{% extends "base.twig" %}

{% block content %}

{% if subcategories %}
    <div class="loop loop--minibanners loop--categories">
    {% for cat in subcategories %}
        {% include 'partials/tease-category.twig' %}
    {% endfor %}
    </div>
{% endif %}

<div class="loop loop--list loop--posts">
    {% for post in posts %}
    	{% include ["partials/tease-"~post.post_type~".twig", "partials/tease-post.twig"] %}
    {% endfor %}
</div>

{% endblock %}