{% extends "base.twig" %}

{% block content %}

    <h2>{{foo}}</h2>
	<p>{{qux}}</p>

    {% for post in posts %}
        {% do action('tha_entry_before') %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% do action('tha_entry_after') %}
	{% endfor %}

{% endblock %}