{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}

    <h1>{{ fn('__','Store','woocommerce')}}</h1>
    <div class="product-cats">
    {% for cat in cats %}
        <a href="{{cat.link}}">{{cat.name}}</a>
          {% if not loop.last %} // {% endif %}
    {% endfor %}
    </div>

    {% do action( 'woocommerce_before_shop_loop') %}
    <div class="loop loop--cards">
        {% for entry in products %}

            {% include ["partials/entry-"~post.post_type~".twig", "partials/entry-product.twig"] %}

        {% endfor %}
    </div>
    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}