{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}

    {% do action('tha_entry_before') %}
    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{post.class}}">

        {% do action('tha_entry_top') %}

        <div class="entry-images">
            {% do action('woocommerce_before_single_product_summary') %}
            <img src="{{ post.thumbnail.src('shop_single') }}" />
        </div>

        <div class="summary entry-summary">
            {% do action('woocommerce_single_product_summary') %}
        </div>

        {% do action('woocommerce_after_single_product_summary') %}
        {% do action('tha_entry_bottom') %}

        <meta itemprop="url" content="{{ post.link }}" />

    </article>

    {% do action('tha_entry_after') %}
    {% do action('woocommerce_after_single_product') %}

{% endblock  %}