
.price{

    font-size: $f-size-l;
    display: block;

    .single-product-details & {
        font-size: $f-size-xl;
    }

    del{
        font-size: $f-size-s;
    }
    ins{
        text-decoration: none;
    }

}


.includes_tax,
.woocommerce-price-suffix{
    display: block;
    font-size: $f-size-xxs;
    color: gc(neutral);
}


// Legenda onsale
.onsale{
    font-size: $f-size-s;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border: 2px solid gc(muted);
    line-height: 1.2;
    vertical-align: baseline;
    padding: space(element, small) space(element);
    text-transform: uppercase;
    margin-bottom: space(element);
}



/**
 * WOOCOMMERCE MESSAGE
 */
.woocommerce-message{

    @include span(full);
    display: flex;
    justify-content: space-between;
    padding: space(element);
    margin-bottom: space(box);
    background: gc(text, info);
    color: white;

    a{
        order: 2;
        display: inline-block;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        border-left: 1px solid lighten(gc(text, info), 10%);
        padding-left: space(element);
        margin-left: space(element);
    }
}


/**
 * BEFORE-SHOP-LOOP
 * Contém os elementos que controlam a listagem de produtos
 */
.before-shop-loop{

    @include span(full);
    display: flex;

    .woocommerce-result-count{
        flex: 1;
        font-size: $f-size-s;
        text-transform: uppercase;
        color: gc(text, muted);
    }

}