

.content-sidebar{

    .main-wrapper{
        display: table;
        width: 95%;
        margin: 0 auto;
    }
    .content-wrapper,
    .layout-sidebar{
        display: table-cell;
        padding: 1.5em;
    }

    .content-wrapper{
        width: 70%;
    }

    .layout-sidebar{
        width: 30%;
        background: #eee;
    }
}